.modal_input_wrapper {
  margin-bottom: 2rem;
}

.input_wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.label {
  text-align: left;
  color: #444;
  margin-right: 0.5rem;
  width: 30%;
}

.input {
  color: #444;
  width: 70%;
}
